<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%enoEclipse.command.EnoEclipse.name"
            id="enoeclipse.commands.EnoEclipse">
      </category>
      <command
            name="%enoEclipse.command.Connect.name"
            categoryId="enoeclipse.commands.EnoEclipse"
            id="enoeclipse.commands.EnoConnectCommand">
      </command>
      <command
            name="%enoEclipse.command.Disconnect.name"
            categoryId="enoeclipse.commands.EnoEclipse"
            id="enoeclipse.commands.EnoDisconnectCommand">
      </command>
      <command
            name="%enoEclipse.command.Import.name"
            categoryId="enoeclipse.commands.EnoEclipse"
            id="enoeclipse.commands.EnoImportCommand">
      </command>
      <command
            name="%enoEclipse.command.Update.name"
            categoryId="enoeclipse.commands.EnoEclipse"
            id="enoeclipse.commands.EnoUpdateCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="enoeclipse.commands.EnoConnectCommand"
            class="org.enoeclipse.handlers.EnoConnectHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="enoeclipse.commands.EnoDisconnectCommand"
            class="org.enoeclipse.handlers.EnoDisconnectHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="enoeclipse.commands.EnoImportCommand"
            class="org.enoeclipse.handlers.EnoImportHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="enoeclipse.commands.EnoUpdateCommand"
            class="org.enoeclipse.handlers.EnoUpdateHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="enoeclipse.commands.EnoConnectCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="enoeclipse.commands.EnoDisconnectCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="enoeclipse.commands.EnoImportCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="enoeclipse.commands.EnoUpdateCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+9"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%enoEclipse.menu.EnoEclipse.label"
               mnemonic="%enoEclipse.menu.EnoEclipse.mnemonic"
               id="enoeclipse.menus.EnoEclipseMenu">
            <command
                  commandId="enoeclipse.commands.EnoConnectCommand"
                  mnemonic="%enoEclipse.command.Connect.mnemonic"
                  id="enoeclipse.menus.EnoConnectCommand">
            </command>
            <command
                  commandId="enoeclipse.commands.EnoDisconnectCommand"
                  mnemonic="%enoEclipse.command.Disconnect.mnemonic"
                  id="enoeclipse.menus.EnoDisconnectCommand">
            </command>
            <command
                  commandId="enoeclipse.commands.EnoImportCommand"
                  mnemonic="%enoEclipse.command.Import.mnemonic"
                  id="enoeclipse.menus.EnoImportCommand">
            </command>
            <command
                  commandId="enoeclipse.commands.EnoUpdateCommand"
                  mnemonic="%enoEclipse.command.Update.mnemonic"
                  id="enoeclipse.menus.EnoUpdateCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="enoeclipse.toolbars.enoEclipseToolbar">
            <command
                  commandId="enoeclipse.commands.EnoConnectCommand"
                  icon="icons/connect.gif"
                  tooltip="%enoEclipse.command.Connect.tooltip"
                  id="enoeclipse.toolbars.EnoConnectCommand">
            </command>
            <command
                  commandId="enoeclipse.commands.EnoDisconnectCommand"
                  icon="icons/disconnect.gif"
                  tooltip="%enoEclipse.command.Disconnect.tooltip"
                  id="enoeclipse.toolbars.EnoDisconnectCommand">
            </command>
            <command
                  commandId="enoeclipse.commands.EnoImportCommand"
                  icon="icons/import.gif"
                  tooltip="%enoEclipse.command.Import.tooltip"
                  id="enoeclipse.toolbars.EnoImportCommand">
            </command>
            <command
                  commandId="enoeclipse.commands.EnoUpdateCommand"
                  icon="icons/update.gif"
                  tooltip="%enoEclipse.command.Update.tooltip"
                  id="enoeclipse.toolbars.EnoUpdateCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%enoEclipse.page.EnoEclipse.name"
            class="org.enoeclipse.preferences.EnoEclipsePreference"
            id="enoeclipse.preferences.EnoEclipsePreference">
      </page>
      <page
            category="enoeclipse.preferences.EnoEclipsePreference"
            class="org.enoeclipse.preferences.EnoJPOPreference"
            id="enoeclipse.preferences.EnoJPOPreference"
            name="%enoEclipse.page.JPOHandling.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.enoeclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
